.vs/
**.vscode/
**.csproj.user
**/bin/
**/obj/
**/Applications/**/Modules/
**/Properties/PublishProfiles/
**/node_modules/
**.log
**logs**
**/Uploads/**
**/front-end/src/main.ts
**/Applications/**/Images**
**/Applications/**/ExtensionFolder**
**/front-end/src/main.ts
**/front-end/src/assets/appconfig.json

!**/Applications/**/components/Modules/
!**/Applications/**/store/Modules/


/SRC/Applications/Retailers.Application/ExtensionFolder/Admin.Extensions.dll
/SRC/Applications/Admin.Application/ExtensionFolder/Admin.Extensions.dll
/SRC/front-end/src/assets/aritrace
/SRC/Applications/Abivin.Application/ExtensionFolder
/SRC/Applications/Collection.Application/ExtensionFolder
/SRC/Applications/Collection.Application/assets/lang/vi.json
/SRC/Applications/Collection.Application/assets/lang/en.json
/SRC/Applications/Farmers.Application/ExtensionFolder/Admin.Extensions.dll
/SRC/Applications/Distributions.Application/ExtensionFolder/Admin.Extensions.dll
/SRC/Applications/Distributions.Application/ExtensionFolder/Admin.Extensions.dll
/SRC/Applications/Farmers.Application/ExtensionFolder/Admin.Extensions.dll
